/* .main-div mat-card{
    padding: 0px;
    border: 1px solid black;
} */


.main-div mat-card mat-toolbar{
    text-align: center;
}



.login-form {
    padding: 20px;
}

.header-div mat-card h1{
    color: blue;
    margin:10px;
    padding: 10px;
}

.header-div mat-card {
    margin-top: 30px;
    
}

#matcard{
    background-color: white;
    border-radius: 50px;
    margin: 20px;
}

.matinputs{
    background-color: white;
    border-radius: 100px;
    text-align: center;
    height: 30px;
    
}

.form-text-text-danger{
    color: red;
}






     
    