

<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="100"  style="height: 100%;width: 100%;text-align: center;">

        <h1 color="primary" style="background-color: #e63946;color: white;padding: 10px;">
            <div> 
                <span style="text-align: center;">Bank Management System</span> 
                <span style="text-align: right;padding-left: 850px;" [innerHTML]="defaultName">{{getName()}}</span>
                <span style="color: white;height: 10px;padding: 10px;"><button type="button" mat-raised-button style="color: blue;border: 1px solid black;background-color: white;color: black;border-radius: 2px;padding: 10px;border-radius: 100px;" (click)="logOut()">Log Out</button></span>
            </div>
            <hr>
            <div >
                <span >
                    <span style="padding-left: 0px;"><button type="button" mat-raised-button style="background-color: #1a659e;color: white;border: 1px solid black;border-radius: 100px;" (click)="this.auth.getBalance()">Balance</button></span>
                    <span style="padding-left: 40px;"><button style="border: 1px solid black;background-color: #1a659e;color: white;border-radius: 100px;" type="button" mat-raised-button (click)="this.auth.getMiniStatement()">Mini Statement</button></span>
                </span> 
                <span style="padding-left: 63%;">Account ID : </span><span  [innerHTML]="defaultId"> {{getId()}}</span>
            </div>
        </h1>
        
        
        
        <mat-card style="margin: 20px;border-radius: 30px;background-color: #bde0fe;" >
            <h1 style="background-color: #1a659e;color: white;border-radius: 30px;text-align: end;"><span style="padding-right: 20%;">Transactions</span><pre style="display: inline;padding-left:10px;"><i style="padding-right: 15px;padding-left: 15px;width: 100%;color: black;background-color: white;border-radius: 30px;border: 1px solid black;width: 100px;">{{this.auth.session}}</i></pre></h1>

            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="this.auth.DepositForm"  (ngSubmit)="this.auth.deposit()">
                <pre class="inputStyle"><input class="inputInside" matInput type="number" formControlName="amount" placeholder="Deposit Amount">      <button type="submit" mat-raised-button [disabled]="this.auth.DepositForm.invalid" style="border-radius: 100px;border: 1px solid black;background-color: #1a659e;color: white;">Deposit</button></pre>
            </form>
    
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="this.auth.WithdrawForm" (ngSubmit)="this.auth.withdraw()"> 
                <pre class="inputStyle"><input class="inputInside" matInput type="number" formControlName="amount" placeholder="Withdraw Amount">     <button type="submit" mat-raised-button [disabled]="this.auth.WithdrawForm.invalid" style="border-radius: 100px;border: 1px solid black;background-color: #1a659e;color: white;">Withdraw</button></pre>
            </form> 
    
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="this.auth.PinForm" (ngSubmit)="this.auth.pinChange()">
                <pre class="inputStyle"><input class="inputInside" matInput type="number" formControlName="pin" placeholder="Enter New Pin">   <button type="submit" [disabled]="this.auth.PinForm.invalid" mat-raised-button style="border-radius: 100px;border: 1px solid black;background-color: #1a659e;color: white;">Pin Change</button></pre>
            </form>  
            
            <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="this.auth.MoneyForm" (ngSubmit)="this.auth.sendMoney(this.auth.MoneyForm.value)">
                <pre class="inputStyle"><input class="inputInsideS" matInput type="number" formControlName="id" placeholder="Account ID">    <input class="inputInsideS" matInput type="number" formControlName="amount" placeholder="Amount">   <button type="submit" [disabled]="this.auth.MoneyForm.invalid" mat-raised-button style="border-radius: 100px;border: 1px solid black;background-color: #1a659e;color: white;">Send Money</button></pre>
            </form>
        </mat-card>

        <mat-card style="background-color: #84a59d;height: 100%;margin-top: 20px;">
            <h1 style="color: white;background-color: black;">Contact Us :</h1>
            
                <h1 style="background-color: white;border-radius: 30px;margin-left: 20px;margin-right: 20px;">
                    <a href="https://www.linkedin.com/in/mrgresh" target="_blank" style="color: blue;"><fa-icon [icon]="icon2" ></fa-icon></a> 
                    <span style="padding-left: 1%;padding-right: 1%;">|</span> 
                    <a href="https://github.com/MrGresh" target="_blank" style="color: black;"><fa-icon [icon]="icon1" ></fa-icon></a>
                    <span style="padding-left: 1%;padding-right: 1%;">|</span>
                    <a>gresh@myanatomy.in</a>
                    <span style="padding-left: 1%;padding-right: 1%;">|</span>
                    <a><fa-icon [icon]="icon3" ></fa-icon> +91 7206299229</a>
                    <span style="padding-left: 1%;padding-right: 1%;">|</span>
                    <a>{{currentTime}}</a>
                </h1>
            
        </mat-card>
    
    </mat-card>
    
    
</div>






