body{
    background-color: red;
}

/* div mat-card {
    border: 1px solid black;
} */

.inputStyle{
    /* text-align: center; */
    margin: 20px;
    padding-left: 29px;
}

.inputInside{
    border: 1px solid black;
    border-radius: 100px;
    height: 29px;
    width: 30%;
    text-align: center;
}

.inputInsideS{
    border: 1px solid black;
    border-radius: 2px;
    height: 29px;
    text-align: center;
    border-radius: 100px;
}




  
  
  
  
  
  